* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: monospace,sans-serif;
}

.screen {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container * {
  position: absolute;
}

p {
  font-size: 60px;
  font-weight: bold;
  color: #509b35;
  cursor: default;
}

#container1 {
  background-color: #fffaf1;
}

#container1 .div1 {
  height: 200%;
  width: 100%;
  background: url('./assets/backstage.svg') 0 0 repeat;
}

#container1 .div2 {
  height: 200%;
  width: 100%;
  background: url('./assets/middlestage.svg') 0 0 repeat;
  z-index: 1;
}

#container1 .div3 {
  height: 200%;
  width: 100%;
  background: url('./assets/frontstage.svg') 0 0 repeat;
  z-index: 1;
}

#container1 p {
  top: 40%;
  font-size: 80px;
  width: 100%;
  text-align: center;
}

#container3 {
  background-color: #fffaf1;
}

#container3 svg {
  fill: none;
  stroke: #666;
  stroke-width: 2;
  width: 40%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}

#container3 p {
  position: static;
}

#container3 .text-wrapper {
  width: 100%;
  height: 80px;
  overflow: hidden;
  position: absolute;
  bottom: 100px;
  text-align: center;
}

#container3 .shadow {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, transparent, #fffaf1 10%, #fffaf1);
}

#container2 {
  background-color: #fffaf1;
}

#container2 .battery {
  width: 300px;
  height: 150px;
  background-color: transparent;
  border-radius: 20px;
  border: solid 5px #666;
  padding: 20px;
  left: 50%;
  top: 50%;
  box-sizing: border-box;
  transform: translateX(-50%) translateY(-80%);
}

#container2 .battery::after {
  content: " ";
  width: 13px;
  height: 50px;
  border-radius: 4px;
  position: absolute;
  right: -13px;
  top: 45px;
  background-color: #666;
}

#container2 .div1 {
  height: 100px;
  width: 125px;
  border-radius: 10px;
  background-color: #fd0;
}

#container2 p {
  text-align: center;
  width: 100%;
  color: #209b35;
  bottom: 100px;
  left: 50%;
  transform: translate(-50%);
}

#container4 {
  perspective: 150px;
  background-color: #fffaf1;
}

#container4 .showcase {
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

#container4 p {
  font: bold 60px/150px monospace;
  height: 150px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -75px;
  background-color: transparent;
  backface-visibility: hidden;
}

#container4 p:nth-child(1) {
  transform: rotateX(0deg) translateZ(100px);
}

#container4 p:nth-child(2) {
  transform: rotateX(-40deg) translateZ(100px);
}

#container4 p:nth-child(3) {
  transform: rotateX(-80deg) translateZ(100px);
}

#container4 p:nth-child(4) {
  transform: rotateX(-120deg) translateZ(100px);
}

#container4 p:nth-child(5) {
  transform: rotateX(-160deg) translateZ(100px);
}

#container4 p:nth-child(6) {
  transform: rotateX(-200deg) translateZ(100px);
}

#container4 p:nth-child(7) {
  transform: rotateX(-240deg) translateZ(100px);
}

#container4 p:nth-child(8) {
  transform: rotateX(-280deg) translateZ(100px);
}

#container4 p:nth-child(9) {
  transform: rotateX(-320deg) translateZ(100px);
}