* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.screen {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

.wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.container * {
  position: absolute;
}

#container1 .div1 {
  height: 130%;
  width: 100%;
  background-image: url('images/universe-background.jpg');
}

#container1 .div2 {
  height: 180px;
  width: 180px;
  background-image: url('images/planet_1.png');
  top: 600px;
  left: 60%;
  z-index: 1;
  background-size: cover;
}

#container1 .div3 {
  height: 900px;
  width: 900px;
  background-image: url('images/planet_2.png');
  top: 500px;
  left: -20%;
  z-index: 1;
  background-size: cover;
}

p {
  font: bold 70px Tahoma;
  color: #fff;
  text-shadow: 5px 5px 5px black;
}

#container1 p {
  top: 40%;
  left: 40%;
}

#container2 {
  background-color: #de5;
}

#container2 .div1 {
  height: 490px;
  width: 450px;
  background-image: url('images/cube_1.png');
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  margin-top: -245px;
  margin-left: -225px;
}

#container2 p {
  top: 40%;
  left: 65%;
}

#container3 .div1 {
  height: 100%;
  width: 100%;
  background-image: url('images/wood.jpg');
  background-size: cover;
}

#container3 .div2 {
  height: 150%;
  width: 100%;
  background-image: url('images/text.png');
  background-size: cover;
  background-repeat: no-repeat;
  top: -30%;
}

#container4 .div1 {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  top: 40%;
  left: 50%;
  margin-left: -100px;
  background-color: #fd0;
}

#container5 {
  -webkit-perspective: 600px;
  perspective: 600px;
  background-color: #ddb;
}

#container5 .showcase {
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

#container5 p {
  font: bold 120px/150px times;
  height: 150px;
  width: 100%;
  text-align: center;
  top: 50%;
  margin-top: -75px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 0 0 12px #000;
  background-color: #ddb;
}

#container5 p:nth-child(1) {
  -webkit-transform: rotateX(0deg) translateZ(100px);
  transform: rotateX(0deg) translateZ(100px);
}

#container5 p:nth-child(2) {
  -webkit-transform: rotateX(-72deg) translateZ(100px);
  transform: rotateX(-72deg) translateZ(100px);
}

#container5 p:nth-child(3) {
  -webkit-transform: rotateX(-144deg) translateZ(100px);
  transform: rotateX(-144deg) translateZ(100px);
}

#container5 p:nth-child(4) {
  -webkit-transform: rotateX(-216deg) translateZ(100px);
  transform: rotateX(-216deg) translateZ(100px);
}

#container5 p:nth-child(5) {
  -webkit-transform: rotateX(-288deg) translateZ(100px);
  transform: rotateX(-288deg) translateZ(100px);
}

#container6 {
  height: 100%;;
  width: 100%;
  margin: 0 auto;
}
#container6 .div1 {
  height: 80%;
  width: 80%;
  left: 10%;
  top: 10%;
  background-image:  url('images/sky.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#container6 .div2 {
  height: 150%;
  width: 150%;
  top: -25%;
  left: -25%;
  background-color: transparent;
}

#container6 .div2 div{
  height: 300px;
  width: 450px;
  border-radius: 40px;
  font: bold 70px/300px arial;
  text-shadow: 0 0 20px #fff;
  text-align: center;
  color: #666;
  opacity: 0.2;
}

#container6 .div2 div:hover{
  opacity: 1;
}

#container6 .div2 div:nth-child(1){
  background-color: #69b;
  top: 15%;
  left: 15%;
}

#container6 .div2 div:nth-child(2){
  background-color: #7aa;
  top: 10%;
  left: 40%;
}

#container6 .div2 div:nth-child(3){
  background-color: #57a;
  top: 20%;
  right: 15%;
}

#container6 .div2 div:nth-child(4){
  background-color: #daa78a;
  top: 60%;
  left: 25%;
}

#container6 .div2 div:nth-child(5){
  background-color: #b95849;
  top: 65%;
  right: 20%;
}
